---
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
BasedOnStyle: Mozilla
BinPackParameters: false
BreakBeforeBraces: Mozilla
ColumnLimit: 80
Language: Cpp
PointerBindsToType: true
SpacesBeforeTrailingComments: 2
UseTab: Never
---
